# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs documentation
/site

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
# Note: Consider including 'poetry.lock' for applications but exclude for libraries
# poetry.lock
.pypoetry-cache

# Others
.DS_Store
Thumbs.db

# PyTorch
*.pt
*.pth

# Logs
*.log

# CSV, JSON, Excel etc. that might contain data
*.csv
*.json
*.xls
*.xlsx

# Markdown, Jupyter notebooks might contain output cells with sensitive data
*.md
*.ipynb
